<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AgentId" value="Test Agent: 0"/>
    <add key="InputPath" value=".\Input\"/>
    <add key="OutputPath" value=".\Output\"/>
    <add key="IOBufferSize" value="4194304"/> <!-- data-type: number (integer). unit: bytes, default: 4 MB -->
    <add key="Peer" value="10.0.0.149:8000"/>
    <add key="Certificate" value=".\ssl\agent_0.pfx"/>
    <add key="CertificatePassword" value=""/>
    <add key="AsymmetricAlgorithm" value="RSA"/>
    <add key="HashAlgorithm" value="SHA512"/>
    <add key="LastMessageId" value="0"/>
    <add key="ProcessInterval" value="60000"/> <!-- data-type: "double" (double precision floating point). unit: milliseconds. default: "60000" (1 minute) -->
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>